@{
  ViewBag.Title = "Home Page";
}
<div class="row">

  <div class="col-md-6">
    <h1>Photo Gallery</h1>
    <p>Column 1</p>

    @*<form>
      <div class="form-group">
        <label>Date</label>
        <input class="form-control" />
      </div>
      <div class="form-group">
        <label>Location</label>
        <input class="form-control" />
      </div>
      <div><input type="submit" value="Add" class="btn btn-success" /></div>
    </form>*@
  </div>

  <div class="col-md-6">
    <h2>Column 2</h2>
  </div>

</div>
